
.loginCss {
    -fx-background-image: url("https://i.pinimg.com/736x/7b/55/5f/7b555fa028197d615d1a5d4ef413cce3.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center ;
}
.login2Css{
    -fx-background-image: url("https://i.pinimg.com/564x/34/bb/b9/34bbb909e504abb9b4b3ce2da46e4a8f.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left ;
    -fx-background-size: 500 800;
}
.root {
    -fx-background-image: url("https://i.pinimg.com/564x/a0/f5/b8/a0f5b826a457449e5c980d5c02e4a421.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center ;

}
